<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Starwars characters</title>

  <style>
    body
    {
      background-image:url("../images/intro-bg.jpg");
      background-size:cover;
    }
  </style>
</head>
<body>
<div text-align: center; xmlns:text-align="http://www.w3.org/1999/xhtml" >

  <h1 class="Starwars">Starwars</h1>

  <!--Search-->
  <div ng-controller="searchCtrl">

    <label class="starwars">Filtrer sur le nom : </label> <input type="text" name="userName" ng-model="filtreNom"/><br>

    <label class="starwars" for="characterSelection"> selectionner un personnage : </label>
    <select name="characterSelection" id="characterSelection" ng-model="selectedCharacter">
      <option ng-repeat="option in APIList | filter:filtreNom" value="{{option.url}}">{{option.name}}</option>
    </select>

    <a class="btn btn-primary" ng-click="go(selectedCharacter)">Search <span class="glyphicon glyphicon-search"></span></a>

  </div>

  <!--Character information-->
  <div class="starwars" ng-controller="infoCtrl">
    <p><label id="characterId">No. {{id}} </label></p>
    <p><label id="characterName">Name : {{character.name}} </label></p>
    <p><label id="characterHeight">height : {{character.height}} </label></p>
    <p><label id="characterWeight">mass : {{character.mass}} </label></p>
    <p><label id="characterHairColor">haircolor : {{character.hair_color}} </label></p>
    <p><label id="characterEyeColor">eye color : {{character.eye_color}} </label></p>
    <p><label id="characterBirthYear">birth_year : {{character.birth_year}} </label></p>
    <img class="roundedImage" src="images/{{id}}.jpg" alt="{{character.name}}" style="width:200px;height:200px;">
    <p><label><ul>starships :
      <li ng-repeat="line in starships">{{line}}</li>
    </ul></label></p>
  </div>
</div>
</body>
